<!DOCTYPE html>
<html lang="en">
<title>Morse Code</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body {font-family: "Lato", sans-serif}
.mySlides {display: none}
</style>

<style>
    h1 {
      color: white;
      text-shadow: 2px 2px 4px blue;
      font-size: 80px;
    }
    </style>
<style>
    h3 {
      color: white;
      text-shadow: 2px 2px 4px red;
      font-size: 40px;
    }
    .red{
        color: crimson;
    }
    </style>
<body>
    <div class="w3-black" id="tour">
        <div class="w3-container w3-content w3-padding-64" style="max-width:800px">
          <h2 class="w3-wide w3-center">A Simple Morse Code Webpage</h2>
          <p class="w3-opacity w3-center"><i>To help you get the morse code of your message as well as listen to it! As well as help you decode a Morse code to get the audio and text of the message.</i></p>
          </div>
          </div>


<!-- Page content -->
<div class="w3-content" style="max-width:2000px;margin-top:46px">
  <!-- The Band Section -->
  <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="band">
    <h1>Morse Code</h1>
    <h3>-- --- .-. ... . / -.-. --- -.. .</h3>
    
    <p class="w3-opacity"><i>Encode.....Decode</i></p>
    <p class="w3-justify">Morse code is a method used in telecommunication to encode text characters as standardized sequences of two different signal durations, called dits and dahs. Morse code is named after Samuel Morse, one of the inventors of the telegraph.</p>
    <p class="w3-opacity"><i>Source:<a class="red" href="https://en.wikipedia.org/wiki/Morse_code">Wikipedia</a></i></p>
    <p class="w3-justify">To know more about Morse code or to by heart it, follow:</p>
    <p class="w3-opacity"><i>Source:<a class="red" href="http://www.learnmorsecode.com/">Learn Morse</a></i></p>
    
    
    </div>
  </div>

  <!-- The Tour Section -->
  <div class="w3-black" id="tour">
    <div class="w3-container w3-content w3-padding-64" style="max-width:800px">
      <h2 class="w3-wide w3-center">Let's dive into business</h2>
      <p class="w3-opacity w3-center"><i>Read these points carefully!</i></p><br>

      <ul class="w3-ul w3-border w3-white w3-text-grey">
        <li class="w3-padding">If you want to get Morse code from text use 1 in box-1. <span class="w3-badge w3-right w3-margin-right">1</span></li>
        <li class="w3-padding">If you want to get text from Morse code use 2 in box-1. <span class="w3-badge w3-right w3-margin-right">2</span></li>
        <li class="w3-padding">Put your text or code in box-2.</li>
      </ul>
      <p class="w3-opacity w3-center"><i>Have fun!</i></p>
      <p class="w3-opacity w3-center"><i> .... .- ...- . / ..-. ..- -.</i></p><br>
      
    </div>
  </div>


  <!-- The Contact Section -->
  <div class="w3-container w3-content w3-padding-64" style="max-width:800px" id="contact">
    <h2 class="w3-wide w3-center">ENTER YOUR QUERIES</h2>
        <form action="add">
          <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
            <div class="w3-half">
              <input class="w3-input w3-border" type="text" placeholder="Choose what is to be done (1 or 2)" name="num1">
            </div>
            <div class="w3-half">
              <input class="w3-input w3-border" type="text" placeholder="Enter your data" name="num2">
            </div>
          </div>
          <input class="w3-button w3-black w3-section w3-right" type="submit">
        </form>
  </div>
  
<!-- End Page Content -->
</div>

<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center w3-opacity w3-light-grey w3-xlarge">
  <a href="https://en-gb.facebook.com/arnab.chowhan" class="fa fa-facebook-official w3-hover-opacity"></a>
  <a href="https://www.instagram.com/virarnab/?hl=en" class="fa fa-instagram w3-hover-opacity"></a>
  <a href="https://in.linkedin.com/in/arnab-chowhan" class="fa fa-linkedin w3-hover-opacity"></a>
</footer>


</body>
</html>
























